@charset "UTF-8";

@font-face {
  font-family: "game";
  src:url("../fonts/game.eot");
  src:url("../fonts/game.eot?#iefix") format("embedded-opentype"),
    url("../fonts/game.woff") format("woff"),
    url("../fonts/game.ttf") format("truetype"),
    url("../fonts/game.svg#game") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "game" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="game-"]:before,
[class*=" game-"]:before {
  font-family: "game" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game-gluten:before {
  content: "\61";
}
.game-pig:before {
  content: "\62";
}
.game-success:before {
  content: "\63";
}
.game-warning:before {
  content: "\64";
}
.game-cloudy:before {
  content: "\65";
}
.game-partlysunny:before {
  content: "\66";
}
.game-sunny:before {
  content: "\67";
}
.game-thunderstorm:before {
  content: "\68";
}
.game-tree:before {
  content: "\69";
}
.game-star:before {
  content: "\6a";
}
.game-flame:before {
  content: "\6b";
}
.game-chevron-right:before {
  content: "\6d";
}
.game-chevron-left:before {
  content: "\6e";
}
.game-chevron-up:before {
  content: "\6f";
}
.game-chevron-down:before {
  content: "\70";
}
.game-arrow-down:before {
  content: "\71";
}
.game-arrow-left:before {
  content: "\72";
}
.game-arrow-right:before {
  content: "\73";
}
.game-arrow-up:before {
  content: "\74";
}
.game-rainy:before {
  content: "\75";
}
.game-pie-graph:before {
  content: "\6c";
}
.game-ribbon-a:before {
  content: "\76";
}
.game-ribbon-b:before {
  content: "\77";
}
.game-sad:before {
  content: "\78";
}
.game-happy:before {
  content: "\79";
}
.game-heart:before {
  content: "\7a";
}
.game-grid:before {
  content: "\42";
}
.game-image:before {
  content: "\43";
}
.game-user:before {
  content: "\44";
}
.game-gear:before {
  content: "\45";
}
.game-more:before {
  content: "\41";
}
.game-map:before {
  content: "\46";
}
.game-navicon:before {
  content: "\47";
}
.game-stats-bars:before {
  content: "\48";
}
.game-university:before {
  content: "\49";
}
.game-wand:before {
  content: "\4a";
}
