body,
#root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Raleway', sans-serif;
}

p {
  margin-top: 0;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  color: #6b72a4;
}

.headline--small {
  font-size: 12px;
  color: #6b72a4;
}